<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        <style>
            body{
                background-color: rgb(14, 3, 3);
            }
            .fr{
                background-color:black;
            }
            a:hover{
                opacity:50%;
               
            }
            h1{
                color: aliceblue;
                font-family:cursive;
            }

            .for:hover{
                text-decoration: underline;
                color: white;
            }
            .h{
                background-color:brown;
            }
            
           
         
        </style>

    </head>
    <body >
        <nav class="navbar navbar-expand-md bg-dark navbar-dark  fixed-top ">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon" ></span>
            </button>
        
        <div class="collapse navbar-collapse" id="navbar">
            <ul class=" for navbar-nav ml-auto " style="margin-right:10px ; padding-right: 40px; ;">
               <li class="nav-item" >
                   <a href="" class="nav-link" >Home</a>
               </li>
               <li class="nav-item">
                   <a href="log.html" target="_blank" class="nav-link">Log In
                   </a>
               </li>
               <li class="nav-item">
                   <a href="district.html" target="_blank" class="nav-link">District</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="spcl.html" target="_blank">Specialities</a>
               </li>
               <li class="nav-item">
                <a href="aboutus.html" class="nav-link" target="_blank">About Us</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link"></a>
            </li>
           

            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown"></a>
                <div class="dropdown-menu" style="background-color:grey ;">
                    <a class="dropdown-item" href="">sign up</a>
                    <a class="dropdown-item" href="">Lern More</a>

                    
                </div>
            </li>
            </ul>
        </div>
        </nav>
       
        <ul class="container fr" >
            <div >
        
            <h1 style="text-align: center;margin-top: 100px;">IDUKKI</h1>
            <li style="margin-left: 80px;">
            <a href="{% url 'secondpage' %}" target="_blank">
            <img src="{% static 'images/dis/im.jpg' %}" height="200" width="300"  >&nbsp; &nbsp;</a>
           <a href="{% url 'secondpage' %}" target="_blank"> <img src="{% static 'images/dis/m.jpg' %}" height="200" width="300"  >&nbsp; &nbsp;</a>
           <a href="{% url 'secondpage' %}" target="_blank"> <img src="{% static 'images/dis/m1.jpg' %}" height="200" width="300"  >&nbsp; &nbsp;</a>
        </li>
        </div>
    <br><br>
        <h1 style="text-align: center">TRIVANDRUM</h1>
        <li style="margin-left: 80px;">
           <a href="triv.html" target="_blank">
            <img src="{% static 'images/dis/tr1.jpg' %}" height="200" width="300">&nbsp;&nbsp; </a>
           <a href="triv.html" target="_blank">  <img src="{% static 'images/dis/tr2.jpg' %}" height="200" width="300">&nbsp;&nbsp;</a>
           <a href="triv.html" target="_blank" > <img src="{% static 'images/dis/tr3.jpg'%}" height="200" width="300">&nbsp;&nbsp;</a>
       
        </li><br><br>

            <h1 style="text-align: center">ALAPPUZHA</h1>
            <li style="margin-left: 80px">
                <a href="">
                 <img src="{% static 'images/dis/al1jpg.jpg' %}" height="200" width="300">&nbsp;&nbsp;</a>
                <a> <img src="{% static 'images/dis/al2.jpg' %}" height="200" width="300">&nbsp;&nbsp;</a>
                <a> <img src="{% static 'images/dis/al3.jpg' %}" height="200" width="300">&nbsp;&nbsp;</a>
                
             </li><br><br>

             <h1 style="text-align: center">THRISSUR</h1>
             <li style="margin-left: 80px;">
                 <a href="">
                  <img src="{% static 'images/dis/t1.jpg' %}" height="200" width="300">&nbsp;&nbsp;</a>
                 <a> <img src="{% static 'images/dis/t2.jpg' %}" height="200" width="300">&nbsp;&nbsp;</a>
                  <a><img src="{% static 'images/dis/t3.jpg' %}" height="200" width="300">&nbsp;&nbsp;</a>
                
              </li><br><br>

              <h1 style="text-align: center">KOZHIKODE</h1>
              <li style="margin-left: 80px;">
                  <a href="">
                   <img src="{% static 'images/dis/k1.jpg' %}" height="200" width="300">&nbsp;&nbsp;</a>
                <a>   <img src="{% static 'images/dis/k2.jpg' %}" height="200" width="300">&nbsp;&nbsp;</a>
                  <a> <img src="{% static 'images/dis/k3.jpg' %}" height="200" width="300">&nbsp;&nbsp;</a>
                
               </li><br><br>

               <h1 style="text-align: center">KANNUR</h1>
               <li style="margin-left: 80px;">
                   <a href="">
                    <img src="{% static 'images/dis/kn1.jpg' %}" height="200" width="300">&nbsp;&nbsp;</a>
                  <a>  <img src="{% static 'images/dis/kn2.jpg' %}" height="200" width="300">&nbsp;&nbsp;</a>
                    <a><img src="{% static 'images/dis/kn3.jpg' %}" height="200" width="300">&nbsp;&nbsp;</a>
                
                </li><br><br>

                <h1 style="text-align: center">MALAPPURAM</h1>
                <li style="margin-left: 80px;">
                    <a href="">
                     <img src="{% static 'images/dis/m1..jpg' %}" height="200" width="300">&nbsp;&nbsp; </a>
                    <a><img src="{% static 'images/dis/m2.jpg' %}" height="200" width="300">&nbsp;&nbsp;</a> 
                    <a> <img src="{% static 'images/dis/m3.jpg' %}" height="200" width="300">&nbsp;&nbsp;</a>
                   
                 </li><br><br>

                 <h1 style="text-align: center">KOTTAYAM</h1>
                 <li style="margin-left: 80px;">
                     <a href="">
                      <img src="{% static 'images/dis/ky1.jpg' %}" height="200" width="300">&nbsp;&nbsp; </a>
                    <a> <img src="{% static 'images/dis/ky2.jpg' %}" height="200" width="300">&nbsp;&nbsp;</a>
                      <a><img src="{% static 'images/dis/ky3.jpg' %}" height="200" width="300">&nbsp;&nbsp;</a>
                   
                  </li><br><br>

                  <h1 style="text-align: center">PATHANAMTHITTA</h1>
                  <li style="margin-left: 80px;">
                      <a href="">
                       <img src="{% static 'images/dis/pt1.jpg' %}" height="200" width="300">&nbsp;&nbsp;</a>
                    <a>  <img src="{% static 'images/dis/pt2.jpg' %}" height="200" width="300">&nbsp;&nbsp;</a>
                   <a> <img src="{% static 'images/dis/pt3.jpg' %}" height="200" width="300">&nbsp;&nbsp;</a>
                    
                   </li><br><br>

                   
        </ul>

        <div class="container ">
            <hr  style="border:1px solid white ;"><br>
          
            <p style="text-align: center ; color: white; margin-top: 200px;"> <small> free No: 1-800-425-4747 (Within India only)<br>
              Department of Tourism, Government of Kerala, Park View, Thiruvananthapuram, Kerala, India - 695 033<br>
              Phone: +91 471 2321132, Fax: +91 471 2322279, E-mail: info@keralatourism.org.<br>
              All rights reserved © Kerala Tourism 2022. Copyright | Terms of Use | Cookie Policy | Contact Us.<br>
              Developed & Maintained by Invis Multimedia.</small></p>
          </div>
    </body>
</html>